@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #2D3340;
    width: 100%;
    color: #B8D3D9;
}

#tentacles {
    width: 70px;
    margin-left: 10px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 80px;
    width: 100%;
    justify-content: space-evenly;
    color: #1D2026;
}

.header-text {
    font-family: "Press Start 2P", system-ui;
    font-size: x-large;
    flex-wrap: wrap;
    margin: 0 0 0 20px;
}

.right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

#search-bar {
    border-radius: 5px;
    padding: 3px;
    font-family: "Space Grotesk", sans-serif;
}

#hamburger-btn {
    color: black;
    font-size: 27px;
    margin: 15px 15px 15px 15px;
    border: none;
    padding: 3px 10px;
}

.hamburger-menu, a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }

  .hamburger-menu, a:hover {
    text-shadow: 0 0 15px rgb(136, 146, 148);
  }

  .hidden {
    display: none;
  }

h2 {
    padding: 20px 20px 20px 20px;
    font-family: "Press Start 2P", system-ui;;

}

h2, p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#description-container {
    margin: 0 30px 0 30px;
    text-align: center;
}

.stats-container {
    display: flex;
    align-items: center;
    margin: 0 30px 0 30px;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    
}

.stats-card {
    background-color: #1D2026;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #1D2026;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: "Space Grotesk", sans-serif;
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: #A8F294;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(136, 146, 148);
}